/*
******
Reset
******
*/

/*
******
Typography
******
*/

:root {
  --madison: #2c3e50;
  --white: #ffffff;
  --lightseagreen: #1abc9c;
  --nightrider: #333333;
  --blush: #ba4b63;
  --pelorous: #1ea4b6;
  --black: #140f0f;
  --pelorousblue: #1c83c1;
  --egyptianblue: #0e38b5;
  --clamshell: #ccb2a3;
  --cello: #3a546d;
}

.font-copyright {
  font-size: smaller;
}

/*
******
Debug
******
*/

.jq-bordi {
  border: 1px solid black;
}

/*
******
Common
******
*/

/*
******
Body
******
*/

footer .top-footer {
  background-color: var(--cello);
  color: var(--white);
}

footer .bottom-footer {
  background-color: var(--madison);
  color: var(--white);
}

/*
******
Header
******
*/

header {
  background-color: var(--madison);
  color: white;
  font-weight: bold;
}

#jumbo {
  background-color: var(--lightseagreen);
  color: var(--white);
}

.fa-solid .fa-star {
  padding: 0 10px;
  font-size: 20px;
}

/*
******
Main
******
*/

.divisore-sx::before {
  content: '';
  display: inline-block;
  width: 14%;
  height: 3px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  vertical-align: middle;
}

.divisore-dx::after {
  content: '';
  display: inline-block;
  width: 14%;
  height: 3px;
  background-color: white;
  border: 1px solid white;
  border-radius: 50px;
  vertical-align: middle;
}

.divisore-sxblack::before {
  content: '';
  display: inline-block;
  width: 14%;
  height: 3px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  vertical-align: middle;
}

.divisore-dxblack::after {
  content: '';
  display: inline-block;
  width: 14%;
  height: 3px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50px;
  vertical-align: middle;
}

/*
******
Footer
******
*/
