/*
******
Reset
******
*/

/*
******
Typography
******
*/

:root {
  --madison: #2c3e50;
  --white: #ffffff;
  --lightseagreen: #1abc9c;
  --nightrider: #333333;
  --blush: #ba4b63;
  --pelorous: #1ea4b6;
  --black: #140f0f;
  --pelorousblue: #1c83c1;
  --egyptianblue: #0e38b5;
  --clamshell: #ccb2a3;
  --cello: #3a546d;
}

.font-copyright {
  font-size: smaller;
}

/*
******
Debug
******
*/

.jq-bordi {
  border: 1px solid black;
}

.row .col-sm-12 {
  border: 1px solid black;
}

/*
******
Common
******
*/

/*
******
Body
******
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  color: var(--white);
  background-color: var(--madison);
}

a {
  text-decoration: none;
}

.jumbotron {
  color: var(--white);
  background-color: var(--lightseagreen);
}

.about {
  background-color: var(--lightseagreen);
  color: var(--white);
}

footer .top-footer {
  background-color: var(--cello);
  color: var(--white);
}

footer .bottom-footer {
  background-color: var(--madison);
  color: var(--white);
}

/*
******
Header
******
*/

/*
******
Main
******
*/

/*
******
Footer
******
*/
